# Environment variables
.env
backend/.env
frontend/.env
**/.env
.env.local
.env.development
.env.test
.env.production

# Dependency directories
node_modules/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
frontend/ANALYTICS_IMPLEMENTATION.md
*.log
