HOST = 127.0.0.1
PORT = 8000


ALGORITHM = "enter thee ALGORITHM here"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
SECRET_KEY = "enter your keey here"
GROW_API_KEY=your_api_key_here
MONGODB_URI=mongodb+srv://doadmin:MOpg1x782Wj94t56@private-mongodb1-2523befc.mongo.ondigitalocean.com/admin?tls=true&authSource=admin